<%- include("header") -%>

<h2>This is the about page</h2>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
    Laborum, natus. Eius sit delectus magni consectetur aliquid, 
    explicabo modi velit iste quisquam odit? Esse veritatis eveniet, 
    modi rerum molestias laboriosam minus!
</p>

<%- include("footer") -%>